@font-face {
    font-family: 'norsebold';
    src: url('fonts/norsebold-webfont.woff2') format('woff2'),
        url('fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.img-side {
    height: 100%;
    width: 30%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.signup-side {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.img-container {
    margin-top: 100px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 80, .3);
}

.odin-img {
    max-width: 100%;
    height: 80%;
}

.odin-text {
    font-family: "norsebold";
    color: white;
    font-size: 70px;
}

.photo-attr {
    margin-top: auto;
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.underline-text {
    text-decoration: underline;
}

.photo-attr a {
    color: white;
}

/* .signup-side div:nth-child(odd) {
    background-color: #f2f2f2;
} */

.section-one, 
.submit-side {
    background-color: #f2f2f2;
}

.signup-side>div {
    flex-grow: 1;
    padding-left: 32px;
}

.login {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.know {
    font-style: italic;
}

div>p:nth-child(1),
div>p:nth-child(1) + p {
    max-inline-size: 66ch;
    font-weight: bold;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-para {
    margin-top: 20px;
}

h2 {
    font-size: 16px;
    font-weight: 550;
}

.form-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.row-one, 
.row-two,
.row-three {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.row-i {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 10px; 
    font-weight: 400;
}

input {
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    background-color: #ffffff;
}

input:invalid {
    border: 1px solid #D55C5F;
    box-shadow: none;
}

input:focus {
    outline: none;
    border: 1px solid #0056b3;
}

button {
    margin-top: 12px;
    margin-bottom: 24px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #596D48;
    color: #ffffff;
}

.submit-side>p {
 font-size: 12px;   
}

button:hover {
    cursor: pointer;
}